

#board { margin: 0; padding: 0 10px 0 10px;}
#columns { margin: 20px 0 5px 0;}
#columns > div { padding-left: 5px; padding-right:5px;}

.column {
    border: solid 1px darkgrey;
    border-radius: 10px;
    margin-left: 5px;
    background-color: #666;
    box-shadow: rgba(0, 0, 0, 0.7) 0 1px 10px 0;
}

.columnHeader {
    margin: 10px 0;
    padding: 0 3px;
    font-size: 15px;
    color: #ffffff;
}

.card-list {
    margin: 0;
    padding: 0;
    list-style: none;
    min-height: 50px;
    height: 500px;
}

.noMargin { margin-bottom: 0;}


.default {
    box-shadow: inset rgba(0, 0, 0, 0.0980392) 0 1px 10px 0;
}
.default-color { background-color: #ffffff; }

.board-header {
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-width: 0;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
    position: relative;
    padding: 10px 15px 0;
    border-style: solid;
}

.card {
    padding: 10px;
}

.card-title {
    color: #7c9eb2;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.5em;
    padding: 2px 1px;
    display: block;
}

.addNewCard {
    float: right;
    padding-right: 30px;
    color:  lightgrey;
}

.removeCard {
    padding: 20px;
    color: #444;
}