
#horizontal-container {
    display: inline-block;
}

#horizontal-container .as-sortable-item,
#horizontal-container .as-sortable-placeholder {
    display: inline-block;
    width: 124px;
    height: 110px;
    float: left;
}

#horizontal-container .sortable-row:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}