

#board { margin: 0; padding: 0 10px 0 10px;}
#columns { margin: 55px 0 0 0;}
#columns > div { padding-left: 5px; padding-right:5px;}
#columns a { color: #444; }

.sortable-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sortable-item, .sortable-placeholder {
    padding: 10px;
    font-weight: 200;
    border-radius: 10px;
    list-style: none;
    cursor: move;
    display: block;
    position: relative;
    margin: 2px;
    min-height: 20px;
    line-height: 20px;
}

.sortable-item {
    border: solid 1px darkgrey;
    background-color: #ffffff;
}


.sortable-handle {
    cursor: move;
    display: block;
    padding: 2px 1px;
    color: #7c9eb2;
    text-decoration: none;
    font-weight: bold;
    line-height: 1.5em;
}
.sortable-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
}
.sortable-placeholder {
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
    border: 1px dashed #808080;
    box-sizing: border-box;
    background-color: #dbdbdb;
}

.sortable-drag {
    position: absolute;
    opacity: .8;
}

.card {
    box-shadow: inset rgba(0, 0, 0, 0.35) 0 1px 10px 0;
}

.column {
    border: solid 1px darkgrey;
    border-radius: 10px;
    margin-left: 5px;
    background-color: #666;
    box-shadow: rgba(0, 0, 0, 0.7) 0 1px 10px 0;
}

.columnHeader {
    margin: 10px 0;
    padding: 0 3px;
    font-size: 15px;
    color: #ffffff;
}

.noMargin { margin-bottom: 0;}


.default {
    box-shadow: inset rgba(0, 0, 0, 0.0980392) 0 1px 10px 0;
}
.default-color { background-color: #ffffff; }


