

#board { margin: 0; padding: 0 10px 0 10px;}
#columns { margin: 55px 0 0 0;}
#columns > div { padding-left: 5px; padding-right:5px;}
#columns a { color: #444; }


.card {
    padding: 10px;
    font-weight: 200;

    border: solid 1px darkgrey;
    border-radius: 10px;
    list-style: none;
    box-shadow: inset rgba(0, 0, 0, 0.35) 0 1px 10px 0;
    margin: 2px;
    cursor: move;
    background-color: floralwhite;
}
.cards { margin: 0;}
.card a { color: #444; }
.card a:hover { text-decoration: none; cursor: pointer; color: #777;}

.column {
    border: solid 1px darkgrey;
    border-radius: 10px;
    margin-left: 5px;

    background-color: #666;
    box-shadow: rgba(0, 0, 0, 0.7) 0 1px 10px 0;
}

.columnHeader {
    margin: 10px 0;
    padding: 0 3px;
    font-size: 15px;
    color: #ffffff;
}

.noMargin { margin-bottom: 0;}


.default {
    box-shadow: inset rgba(0, 0, 0, 0.0980392) 0 1px 10px 0;
}
.default-color { background-color: #ffffff; }


