<!DOCTYPE html>
<html>
<head>
    <title>Angular Sortable and Draggable Demo.</title>
    <!--styles -->
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="board.css">
    <!--scripts-->
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="dist/ng-drag-drop.js"></script>
    <script type="text/javascript" src="kanban-board.js"></script>
    <script type="text/javascript" src="model.js"></script>

</head>
<body ng-app="demoApp">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="board-header">
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a href="#">Kanban</a></li>
                <li><a href="#">Sprint</a></li>
            </ul>
        </div>
        <!-- Item template -->
        <script type="text/ng-template" id="card.html">
            <div sortable-item-handle>
                <span>{{card.title}}</span>
                <a class="pull-right btn btn-xs" data-nodrag ng-click="removeCard(column, card)"><span class="glyphicon glyphicon-remove"></span></a>
            </div>
        </script>
        <!-- New Card template -->
        <script type="text/ng-template" id="NewCard.html">
            <form ng-submit="addNewCard()" class="noMargin" name="newCardForm">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="close()">&times;</button>
                    <h4 class="modal-title" ng-model="columnName">Add New Card in '{{columnName}}'</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label" for="newCardTitle">Card title</label>
                        <div>
                            <input type="text" id="newCardTitle" placeholder="Title on a card" ng-model="title" required focus-me class="cardInputs form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="newCardDetails">More details <small>(optional)</small></label>
                        <div>
                            <textarea id="newCardDetails" ng-model="details" class="cardInputs form-control" rows="7" >
                            </textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="close()">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </script>
        <div ng-model="board" id="board" ng-controller="demoController">
            <div id="columns" class="row">
                <div class="col-md-{{12/board.numberOfColumns}}" ng-repeat="column in board.columns"
                     data-columnindex="{{$index}}" id="column{{$index}}">
                    <div class="column">
                        <div class="columnHeader">
                            <a href="#addNewCard" title="Add card to column" ng-click="addNewCard(column)"><i class="glyphicon glyphicon-plus addNewCard"></i></a>
                            <span>{{column.name}} ({{column.cards.length}})</span>
                        </div>
                        <ul class="cards sortable-list" sortable="sortOptions" ng-model="column.cards">
                            <li class="card" ng-repeat="card in column.cards" sortable-item="" ng-include="'card.html'">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
</body>
</html>