
.sortable-item, .sortable-placeholder {
    padding: 10px;
    border-radius: 10px;
    display: block;
    min-height: 20px;
    line-height: 20px;
    position: relative;
}

.sortable-item {
    margin: 2px;
    border: solid 1px darkgrey;
    background-color: #ffffff;
}

.sortable-handle {
    cursor: move;
}

.sortable-placeholder {
    margin: 5px 0;
    border: 1px dashed #808080;
    box-sizing: border-box;
    background-color: #dbdbdb;
}

.sortable-drag {
    position: absolute;
    pointer-events: none;
    opacity: .8;
    z-index: 9999;
}

.sortable-hidden {
    display: none;
}